# System
.*
!.gitignore
!.gitkeep
!.htaccess
!web.config

# Composer
/vendor
composer.lock # Remove this line when you start a project

# Windwalker
/etc/secret.yml

#Test
/phpunit.xml
/phpunit.core.xml
