# System
.*
!.gitignore
!.gitkeep
!.htaccess
!.editorconfig
!web.config

# Libraries
/vendor
/node_modules
/bower_components

# Remove above lines when you start a project
composer.lock
yarn.lock

# Windwalker
/etc/secret.yml

#Test
/phpunit.xml
/phpunit.core.xml

# Others
