/* Reset */
#windwalker-debugger * {
  text-align: left;
}
#windwalker-debugger div,
#windwalker-debugger span,
#windwalker-debugger iframe,
#windwalker-debugger h1,
#windwalker-debugger h2,
#windwalker-debugger h3,
#windwalker-debugger h4,
#windwalker-debugger h5,
#windwalker-debugger h6,
#windwalker-debugger p,
#windwalker-debugger blockquote,
#windwalker-debugger pre,
#windwalker-debugger a,
#windwalker-debugger big,
#windwalker-debugger code,
#windwalker-debugger del,
#windwalker-debugger em,
#windwalker-debugger img,
#windwalker-debugger small,
#windwalker-debugger strike,
#windwalker-debugger strong,
#windwalker-debugger sub,
#windwalker-debugger sup,
#windwalker-debugger b,
#windwalker-debugger u,
#windwalker-debugger i,
#windwalker-debugger dl,
#windwalker-debugger dt,
#windwalker-debugger dd,
#windwalker-debugger ol,
#windwalker-debugger ul,
#windwalker-debugger li,
#windwalker-debugger nav,
#windwalker-debugger abbr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: none;
  color: inherit;
}
#windwalker-debugger ol,
#windwalker-debugger ul {
  list-style: none;
}
#windwalker-debugger code,
#windwalker-debugger pre {
  font-family: monospace;
}
#windwalker-debugger blockquote,
#windwalker-debugger q {
  quotes: none;
}
#windwalker-debugger blockquote:before,
#windwalker-debugger blockquote:after {
  content: '';
}
/* Console Style */
body {
  margin-bottom: 40px;
}
#windwalker-debugger {
  height: 40px;
  background-color: #eee;
  color: #333;
  text-shadow: none;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}
#windwalker-debugger abbr {
  border-bottom: 1px dotted black;
}
#windwalker-debugger dl > * {
  line-height: 1.8;
}
#windwalker-debugger dt {
  float: left;
  font-weight: bold;
  min-width: 130px;
  margin-right: 30px;
}
#windwalker-debugger .windwalker-debugger-block {
  height: 40px;
  float: left;
  border-right: 1px solid #e0e0e0;
  position: relative;
}
#windwalker-debugger .windwalker-debugger-block-inner {
  padding: 9px;
  display: inline-block;
  position: relative;
}
#windwalker-debugger .windwalker-debugger-badge {
  background-color: #BBBBBB;
  color: #ffffff;
  border-radius: 20px;
  padding: 4px 9px;
  font-size: 0.7em;
}
#windwalker-debugger a.windwalker-debugger-link {
  text-decoration: none;
  display: block;
  color: #666;
}
#windwalker-debugger a.windwalker-debugger-link:hover {
  background-color: #e8e8e8;
}
#windwalker-debugger .windwalker-debugger-drop-menu {
  position: absolute;
  bottom: 40px;
  min-width: 500px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  background-color: #FBFBFB;
  display: none;
}
#windwalker-debugger a.windwalker-debugger-link:hover .windwalker-debugger-drop-menu {
  display: block;
}
#windwalker-debugger .windwalker-debugger-color-primary {
  background-color: #337ab7;
}
#windwalker-debugger .windwalker-debugger-color-success {
  background-color: #5cb85c;
}
#windwalker-debugger .windwalker-debugger-color-info {
  background-color: #5bc0de;
}
#windwalker-debugger .windwalker-debugger-color-warning {
  background-color: #f0ad4e;
}
#windwalker-debugger .windwalker-debugger-color-danger {
  background-color: #d9534f;
}
